/*color

#1f2235  (biru)
#f5ba09  (kuning)
*/

body{
  background-color: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
  position:relative;
}

.container{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
}

.logo{
  float: left; 
  width : 3%;
  height : 3%;
  padding: 14px 20px;
  margin: 17px 20px;
}


nav {
  overflow: hidden;
  float: right;
}

nav ul{
  list-style: none;
}

nav li{
  display: inline-flex;
}

nav ul li a {
  align-items: flex-end;
  color: aliceblue;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 12px 20px;
}

nav ul li a:hover{
  text-decoration: none;
  border-bottom: 4px solid #f5ba09;
  transition: 0.2s ease;
}

.active{
  border-bottom: 4px solid #f5ba09;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.text-white{
  color: aliceblue;
}
.text-yellow{
  color : #f5ba09;
}

.main{
  align-items: center;
  width: 100%;
  float: left;
  padding: 0px;
  margin : 60px 20px;
  box-sizing: border-box;
}
.centered-main{
  margin: 0% 25% 0% 33%;
  padding : auto;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 36px;
}

.side-by-side{
  background: #313552;
  border-radius: 0.5rem;
  align-items: center;
  width: 75%;
  float: left;
  margin : 80px auto 0px auto;
  box-sizing: border-box;
  display: flex;
}

.wrapper {  
  background: #313552;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 0.4fr;
  gap: 5px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-image textbox";
  padding : 10px;
}

.about{
  align-items: center;
  width: 75%;
  float: left;
  padding: 0px;
  margin : 60px 20px;
  box-sizing: border-box;
}


.about-image { 
  grid-area: about-image;
  
}

.about-image img { 
  width : 100%;
  height : auto;
  
}

.textbox { 
  grid-area: textbox;
  text-align: center;
  
}

.change{
  color : #f5ba09;
}

.change:hover {
  font-size:0;

}

.change:hover:before {
  font-size: 1.17em;
  content: attr(data-hover);
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.2em;
  border: 2px solid #313552;
  overflow: hidden;
  font-size: 1.17rem;
  outline: none;
  color: #f5ba09;
  background: transparent;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  width: 300px;
}

.button span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0.2em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s,opacity .6s;
  -moz-transition: .4s,opacity .6s;
  -o-transition: .4s,opacity .6s;
  transition: .4s,opacity .6s;
}


.button:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
}


.button:hover span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}


.button:hover:before{
  opacity: 1;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.hobby-container{
  display: inline-flex;
  width : 100%;
  height: auto;
  justify-content: center;
}

.hobby{
  border: aliceblue solid 7px;

  margin-left : 50px;
  margin-right: 50px;
  border-radius: 50%;
  height: 70px;
  width : 70px;
  
  padding :10px;
  margin : 10px;
  display: flex;

  
}

.hobby:hover{
  border: 7px solid #f5ba09;
  transition: 0.2s ease;
}

.hobby img{
  height: 55px;
  width: auto;
  margin : auto;
}

.project-text{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  position:relative;
}

.project-footer{

  display: inline-flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -10;
}
.card-container{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.card{
  background: #313552;
  width : 330px;
  height : 450px;
  margin: 30px;
  border-radius: 15px;
  position:relative;
  z-index: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  margin-top: 34px;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.6);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


.card-img{
  background-color: #242424;
  height: 40%;
  border-radius: 15px 15px 0px 0px;
  justify-content: center;
  display: flex;
}

.card-img img{
  max-width: auto;
  max-height: 75%;
  margin: 20px;

}

.card h3{
  font-size: 25px;
  color: #f5ba09;
  margin-left : 10px
}

.card p{
  color:aliceblue;
  margin-left : 10px;
}

.card a{
  display: block;
  background-color: #f5ba09;
  color: #1f2235;
  height: 7%;
  width: 100%;
  border-radius: 0 0 15px 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  text-decoration: none;
  font-weight: bold;
}


.contact-text{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  position:relative;
}
.contact-wrapper h2{
  text-align: center;
}

.social-btn i{
  margin: auto;
}


.social-btn{
  width : 100px;
  height : 100px;
  display: flex;
  border: #313552 solid 2px;
  justify-content: center;
  border-radius : 50%;
  margin : auto;
  margin-top : 50px;
  background-color: #f5ba09;
  color: #313552;
  font-size: 50px;
  position: relative;
  transition: all .5s ease-in-out;
  z-index: 1;
  text-decoration: none;
}

.social-btn:hover{
  color: #f5ba09;
}

.social-btn:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:#313552;
border-radius: 50%;
transition: all .5s ease-in-out;
transform: scale(0);
z-index: -1;
}

.social-btn:hover:before{
  transform: scale(.9);
}


.social-media{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 70px;
}
.contact-wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav-bar"
    "box"
}



.box-wrapper{
  height: 630px;
  position: relative;  
}



.box{
  grid-area: box;
  position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	background-color: #313552;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
}


.box input{
	padding: 10px 0;
	margin-bottom: 30px;
}

.box textarea{
	height: 120px;
	padding: 10px 0;
	margin-bottom: 20px;
  

}

.box input, .box textarea {
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
  background: #1f2235;
  color: aliceblue;
  

}

.box input[type="submit"]{
  font-weight: bolder;
  font-size: 1.1em;
	cursor: pointer;
  background: #313552;
	color: aliceblue;
	margin-bottom: 0;
	text-transform: uppercase;
  transition: all .2s ease-in-out;
  position : relative;
  border-top : #1f2235 hidden 2px;
}

.box input[type="submit"]:hover{
  border : #f5ba09 2px solid;
  background-color: #f5ba09;
  color: #1f2235;

}
.box form div{
	position: relative;
}

.box form div label {
	position: absolute;
	top: 0px;
	left: 0;
	color: #999;
	pointer-events: none;
	transition: .5s;
  margin-left: 10px;
}

.box input:focus ~ label, .box textarea:focus ~ label, 
.box input:valid ~ label, .box textarea:valid ~ label {
	top: -30px;
	left: 0;
  color: #f5ba09;
	font-size: 1em;
	font-weight: bold;
}

.box input:focus ~ label, .box textarea:focus ~ label, 
.box input:valid, .box textarea:valid {
  border-bottom: 2px solid #f5ba09;
}
